<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.archimatetool.commandline.commandlineProvider">
      <commandlineProvider
            class="org.archicontribs.modelrepository.commandline.LoadModelFromRepositoryProvider"
            description="%commandlineProvider.description"
            id="org.archicontribs.modelrepository.commandlineCloneModel"
            name="%commandlineProvider.name">
      </commandlineProvider>
   </extension>

</plugin>
